<div class="jumbotron">
  <div class="container">
    <h1>Make Your Next Semester Simpler</h1>
    <p>Struggling to find a cheap solution to the bundle of textbooks you need? So are your peers! Explore our platform and take advantage of our on-campus solution to exchanging textbooks.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Start Searching »</a></p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 text-center">
      <h2><i class="fa fa-book fa-2x dark" aria-hidden="true"></i></h2>
      <p>Choose from a wide array of textbooks, all categorized by name, subject, ISBN, or major.</p>
    </div>
    <div class="col-md-4 text-center">
      <h2><i class="fa fa-comments fa-2x dark" aria-hidden="true"></i></h2>
      <p>Exchange comments on textbooks and textbook sellers to keep others informed!</p>
   </div>
    <div class="col-md-4 text-center">
      <h2><i class="fa fa-handshake-o fa-2x dark" aria-hidden="true"></i></h2>
      <p>Exchange textbooks with your fellow classmates on campus.</p>
    </div>
  </div>
  <hr>
  <footer>
    <p>© 2016 CoffeeBots</p>
  </footer>
</div>

<!-- Login Modal -->
<section data-ng-controller="UsersController">
  <div class="modal fade loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
      <form data-ng-submit="login()" novalidate>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="loginModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                  <label>E-mail</label>
                  <input class="form-control" type="email" name="email" data-ng-model="email" data-ng-disabled="disable" placeholder="Enter Your UMBC E-mail Address">
                </div>
                <p class="text-danger" data-ng-bind="errors.email.message"></p>
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" type="password" name="password" data-ng-model="password" data-ng-disabled="disable" placeholder="Enter Your Password">
                </div>
                <p class="text-danger" data-ng-bind="errors.password.message"></p>
                <div>
                  <p class="text-center" data-ng-class="success == true ? 'text-success' : 'text-danger'" data-ng-bind="message"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-group text-center">
              <button class="btn btn-lg btn-primary" data-ng-disabled="disable">
                <!-- Normal button text -->
                <span ng-hide="disable">Login</span>
                <!-- Loading spinner while form is disabled -->
                <i class="fa fa-spinner fa-spin" ng-show="disable"></i>
                <!-- Loading text for screen readers only -->
                <span class="sr-only" ng-show="disable">Loading...</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>