<div class="jumbotron">
  <div class="container">
    <h1>Make Your Next Semester Simpler</h1>
    <p>Struggling to find a cheap solution to the bundle of textbooks you need? So are your peers! Explore our platform and take advantage of our on-campus solution to exchanging textbooks.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Start Searching »</a></p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 text-center">
      <h2><i class="fa fa-book fa-2x dark" aria-hidden="true"></i></h2>
      <p>Choose from a wide array of textbooks, all categorized by name, subject, ISBN, or major.</p>
    </div>
    <div class="col-md-4 text-center">
      <h2><i class="fa fa-comments fa-2x dark" aria-hidden="true"></i></h2>
      <p>Exchange comments on textbooks and textbook sellers to keep others informed!</p>
   </div>
    <div class="col-md-4 text-center">
      <h2><i class="fa fa-handshake-o fa-2x dark" aria-hidden="true"></i></h2>
      <p>Exchange textbooks with your fellow classmates on campus.</p>
    </div>
  </div>
  <hr>
  <footer>
    <p>© 2016 CoffeeBots</p>
  </footer>
</div>