<!-- Navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a href="/#/" class="navbar-brand">TextForSale</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/#/" class="scroll">Home</a></li>
        <li><a href="/#/books/" class="scroll">Books</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" data-ng-controller="UsersController as uc">
        <li data-ng-show="!uc.authentication.user"><a href="" data-ng-click="promptLogin()">Login</a></li>
        <li data-ng-show="!uc.authentication.user"><a href="/#/users/register">Register</a></li>
        <li data-ng-show="uc.authentication.user"><p class="navbar-text">Welcome, {{ uc.authentication.user.name.first }}</p></li>
        <li data-ng-show="uc.authentication.user"><a href="/#/users/me">Edit Account</a></li>
        <li data-ng-show="uc.authentication.user"><a href="/api/users/logout">Logout</a><li>
          <section>
            <div class="navbar-text" data-ng-click="readCart()">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
              <span class="badge">{{ cc.cart.items.length }}</span>
            </div>
          </section>
        </li>
      </ul>
    </div>
  </div>
</nav>