# OS
# ==
*/*.DS_STORE

# Node and related ecosystem
# ==========================
node_modules/
public/lib/
npm-debug.log

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
