body {
    /* Accomodate the fixed navigation bar */
    padding-top: 51px;
    background-color: #333;
    color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Raleway';
}

label {
    font-weight: normal;
    font-size: 1.1em;
}

p,
a,
input,
textarea {
    font-family: 'Source Sans Pro';
}

a {
    color: #F5CA5C;
}

a:hover {
    color: #333;
}

hr {
    border-color: #555;
}

textarea { 
    resize: none;
}

/* Bootstrap Override */
textarea.form-control {
    height: 200px;
}

.thumbnail {
    height: 235px;
}

.thumbnail p.lead {
    height: 75px;
}

.text-danger {
    color: #D25F5D;
}

.text-success {
    color: #7AD27C;
}

.modal-content {
    background-color: #333;
    border: 2px solid #555;
}

.modal-header {
    border-bottom: 1px solid #555;
}

.modal-footer {
    border-top: 1px solid #555;
}

.navbar li {
    font-family: 'Source Sans Pro';
}

.navbar-inverse .navbar-brand {
    font-family: 'Raleway';
    color: #F5CA5C;
}

.navbar-text {
    padding-left: 15px;
}

.sidebar {
    padding: 0px;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6,
.jumbotron p {
    color: #333;
}

.btn.btn-primary,
.btn.btn-primary:disabled {
    background-color: #F5CA5C;
    border-color: #F5CA5C;
    color: #333;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #F5CA5C;
}

.nav > li > a:hover {
    background-color: #222;
    color: #FFF;
}

.nav.nav-sidebar {
    background-color: #777;
}

.form-control {
    border: 2px solid #555;
    min-height: 40px;
    background-color: #444;
    color: #FFF;
}

.form-control:disabled {
    border: 2px solid #555;
    min-height: 40px;
    background-color: #333;
    color: #555;
}

.form-control:focus {
    border-color: #F5CA5C;
    box-shadow: none;
}

.thumbnail {
    background-color: #999;
    border-color: #555;
}

button.close,
button.close:hover {
    color: #FFF;
}

.dark {
    color: #F5CA5C;
}

.valid-input.form-control:focus {
    border-color: #7AD27C;
}

.invalid-input.form-control {
    border-color: #D25F5D;
}