<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Checkout</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Credit Card Number</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>CVC</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Name On Card</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group text-center">
        <button class="btn btn-lg btn-primary">Purchase</button>
      </div>
    </div>
    <div class="col-md-8" data-ng-init="readCart()">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="raleway">Title</th>
            <th class="raleway">Price</th>
            <th class="raleway">Quantity</th>
            <th class="raleway">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-if="cc.cart.items.length === 0">
            <td colspan=4 class="text-center raleway" style="border-bottom: none;">
              No items in cart.
            </td>
          </tr>
          <tr data-ng-repeat="book in cc.cart.items">
            <td class="raleway">{{ book.title | limitTo:45 }}{{ book.title.length > 45 ? '...' : '' }}</td>
            <td class="raleway">{{ book.price | currency }}</td>
            <td class="text-center raleway">{{ book.qty }}</td>
            <td class="text-center" data-ng-click="addToCart(book)">&times</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <h3>Total: {{ cc.cart.total | currency }}</h3>
      </div>
    </div>
  </div>
</div>