<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Register Your Account</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <!-- Load this section with the User's Controller -->
    <section data-ng-controller="UsersController">
      <!-- Load the method for registration -->
      <form data-ng-submit="register()" novalidate>
        <div class="col-md-4 col-md-offset-4">
          <div class="form-group">
            <label>E-mail Address</label>
            <input class="form-control" type="email" data-ng-model="email" data-ng-disabled="disable" placeholder="Register With Your UMBC E-mail" email-validator>
          </div>
          <p class="text-danger" data-ng-bind="errors.email.message"></p>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" data-ng-model="password" data-ng-disabled="disable" placeholder="Enter A Password">
          </div>
          <p class="text-danger" data-ng-bind="errors.password.message"></p>
          <div class="form-group">
            <label>First Name</label>
            <input class="form-control" type="text" data-ng-model="firstName" data-ng-disabled="disable" placeholder="Enter Your First Name">
          </div>
          <p class="text-danger" data-ng-bind="errors['name.first'].message"></p>
          <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" type="text" data-ng-model="lastName" data-ng-disabled="disable" placeholder="Enter Your Last Name">
          </div>
          <p class="text-danger" data-ng-bind="errors['name.last'].message"></p>
          <!-- Form Return Message -->
          <div>
            <p class="text-center" data-ng-class="success == true ? 'text-success' : 'text-danger'" data-ng-bind="message"></p>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-lg btn-primary" data-ng-disabled="disable">
              <!-- Normal button text -->
              <span data-ng-hide="disable">Register</span>
              <!-- Loading spinner while form is disabled -->
              <i class="fa fa-spinner fa-spin" data-ng-show="disable"></i>
              <!-- Loading text for screen readers only -->
              <span class="sr-only" data-ng-show="disable">Loading...</span>
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>