<div class="container">
  <br>
  <section data-ng-controller="BooksController" data-ng-init="findOne()">
    <div class="row">
      <div class="col-md-4">
        <div style="height: 450px; width: 100%; background-color: #555; border-radius: 10px"><p class="lead text-center" style="padding-top: 50%">Book Image</p></div>
      </div>
      <div class="col-md-8">
        <h1>{{ book.title || 'No Title Found' }}</h1>
        <h3>{{ book.subect || 'Course Subject Not Found' }}</h3>
        <h2 class="text-right">{{ book.price || 'No Price' | currency }}</h2>
        <p>{{ book.description || 'No description available.' }}</p>
        <div class="inline-list">
          <button type="button" class="btn btn-primary">Add To Cart</button>
          <button type="button" class="btn btn-primary">Add Book & Checkout</button>
          <button type="button" class="btn btn-primary">Trade A Book</button>
        </div>
      </div>
    </div>
  </section>
</div>