<!-- Navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a href="/#/" class="navbar-brand">TextForSale</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/#/" class="scroll">Home</a></li>
        <li><a href="/#/books/" class="scroll">Books</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" data-ng-controller="UsersController as uc">
        <li data-ng-show="!uc.authentication.user"><a href="/#/" data-toggle="modal" data-target=".loginModal">Login</a></li>
        <li data-ng-show="!uc.authentication.user"><a href="/#/users/register">Register</a></li>
        <li data-ng-show="uc.authentication.user"><p class="navbar-text">Welcome, {{ uc.authentication.user.name.first }}</p></li>
        <li data-ng-show="uc.authentication.user"><a href="/users/logout">Logout</a><li>
          <div class="navbar-text">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span class="badge">0</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <br>
  <section data-ng-controller="BooksController" data-ng-init="findOne()">
    <div class="row">
      <div class="col-md-4">
        <div style="height: 450px; width: 100%; background-color: #555; border-radius: 10px"><p class="lead text-center" style="padding-top: 50%">Book Image</p></div>
      </div>
      <div class="col-md-8">
        <h1>{{ book.title || 'No Title Found' }}</h1>
        <h3>{{ book.subect || 'Course Subject Not Found' }}</h3>
        <h2 class="text-right">{{ book.price || 'No Price' | currency }}</h2>
        <p>{{ book.description || 'No description available.' }}</p>
        <div class="inline-list">
          <button type="button" class="btn btn-primary">Add To Cart</button>
          <button type="button" class="btn btn-primary">Add Book & Checkout</button>
          <button type="button" class="btn btn-primary">Trade A Book</button>
        </div>
      </div>
    </div>
  </section>
</div>